<h1>Welcome Admin</h1>



  <br/>

<div resetBtn>
           <button class="resetBtn" type="submit" name="button" value="reset">Clear Schedule
            </button>
        </div>

        <br/>

<table>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>